.item_item{
	width: 1000px;
	margin: 20px auto;
	border: 1px solid #e2e2e2;
	height: 42px;
}
.item_six{
	width: 30px;
	background-color: #800080;
	float: left;
	padding: 6px 2px;
}
.item_link{
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
	line-height: 42px;
}